.header {
  text-align: center;
  grid-area: header;
}

.nav {
  grid-area: nav;
  text-align: left;
}

.content {
  text-align: center;
  grid-area: content;
}

.sidebar {
  text-align: center;
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
  text-align: center;
}

.wrapper {
  display: grid;
grid-template-areas: 
'header header header'
'nav content sidebar'
'nav content sidebar'
'footer footer footer';
grid-gap: 10px;
padding: 10px;
}

body {
  background-color:white;
  font-family: "Times New Roman", Times, serif;
}

ol:nth-child(odd){
  background-color: lightblue;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

table, th {
  border: 1px solid black;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

/* For mobile phones*/
[class*="wrapper"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For Tablets: */
  .header {width: 40.00%;}
  .nav {width: 30.00%;}
  .content {width: 90.00%;}
  .sidebar {width: 40.00%}
  .footer {width: 40.00%}
}

@media only screen and (min-width: 768px) {
  /* For Desktop */
  .header {width: 40.00%;}
  .nav {width: 30.00%;}
  .content {width: 90.00%;}
  .sidebar {width: 40.00%}
  .footer {width: 40.00%}
}
